<div class="text-center d-flex justify-content-center my-3"><h1 class="display-4">Filter</h1></div>
<div class="container  p-4 " id="filterSection">
  <div class="col ">
    <div class="row text-center">
      <div class="dropdown col">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
          Brands
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li *ngFor=" let brand of brands"><a class="dropdown-item" href="#">{{brand.nameBrd}} </a></li>
        </ul>
      </div>
      <div class="dropdown col">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2"
                data-bs-toggle="dropdown" aria-expanded="false">
          Fueltype
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
      <div class="dropdown col">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton3"
                data-bs-toggle="dropdown" aria-expanded="false">
          Mileage
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
      <div class="dropdown col">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton4"
                data-bs-toggle="dropdown" aria-expanded="false">
          Model
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="row">
      <div class="col">
        <div class="range-slider">
          <h3 class="lead">Price</h3>
          <input class="range-slider__range" type="range" value="100" min="0" max="500">
          <span class="range-slider__value">0</span>
        </div>
      </div>
      <div class="col">
        <div class="range-slider">
          <h3 class="lead">Year</h3>
          <input class="range-slider__range" type="range" value="100" min="0" max="500">
          <span class="range-slider__value">0</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col  text-center d-flex justify-content-center m-4"><h1 class="display-4">Latest Deals</h1></div>

