//modifying the footer to add  border and background color

footer {
  margin-top: 4rem;
  border-top: white solid;
  background-color: #84D2F6;
}
.legal {
  background-color:#133C55 !important;
  padding: 3rem;
}
