
.navbar{
  background-color: #133C55;
}

.navbar .nav-link {
  font-size: 16px;
  text-transform: uppercase;
  padding-left: 1rem;
  padding-right: 1rem;
}

.navbar .nav-link.home{
  border-left: #444 3px solid;
}
