<div *ngIf="advertisements">
  <div class="row">
    <div class="card col-6"  *ngFor="let advertisement of advertisements" style="width: 18rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title lead">{{advertisement.title_adv}}</h5>
        <p class="card-text">Description: {{advertisement.description_adv}}</p>
        <span>Mileage: {{advertisement.mileage_adv}}</span> <br>
        <span>Fueltype: {{advertisement.fueltype_id}}</span> <br>
        <span>Price: {{advertisement.price_adv}}</span> <br>
        <a href="#" class="btn btn-primary">Details</a>
      </div>
  </div>
</div>
</div>

